
<!DOCTYPE html>
<html>
<title>SRM HINDI SEMANTICS SEARCH ENGINE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="https://goo.gl/w0mjwY" style="width:80%;" class="w3-round"><br><br>
    <h4 class="w3-padding-0"><b>एसआरएम शब्दार्थ विज्ञानं खोज यंत्र</b></h4>
    <p class="w3-text-grey">@एसआरएम</p>
  </div>

</nav>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header class="w3-container">
    <a href="#"><img src="https://goo.gl/w0mjwY" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <h1><b>हिंदी समाचार</b>
      <form action="." method="POST">
          <input type="text" name="text">
          <input type="submit" name="my-form" value="खोजें">
      </form>
    </h1>

    <div class="w3-section w3-bottombar w3-padding-16">
    <a href="#"><img src="https://goo.gl/zkkVYB" style="width:100%" class="w3-hover-opacity"></a>
    </div>
  </header>






  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-white">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>विकासक सूचना</h3>
      <p>सम्पर्क : dushyant7917@gmail.com</p>
      <p>GitHub प्रोफ़ाइल : dushyant7917</p>
    </div>
  </div>
</footer>

<!-- End page content -->
</div>

</body>
</html>
